<!DOCTYPE html>
<html>
    <head>
        <title>🎉 | Space Giveaways</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link href="/css/main.css" rel="stylesheet"/>
        <meta property="og:title" content="Space Giveaways • LE serveur giveaways !">
        <meta property="og:image" content="https://cdn.discordapp.com/icons/783112936611643393/bf97e066d506f7e349e875de6f5af337.webp">
        <meta property="og:description" content="Space Giveaways - De simple giveaways grâce à notre site automatisé !">
        <meta name="theme-color" content="#5c7aff">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="https://www.w3schools.com/w3css/4/w3.css" rel="stylesheet">
    </head>
    <body>
        <div class="navbar">
            <div class="logo-div">
                <img id="logo" src="https://cdn.discordapp.com/icons/783112936611643393/bf97e066d506f7e349e875de6f5af337.webp">
            </div>
            <div class="navbar-separator"></div>
            <a href="/"><i class="w3-xxxlarge fa fa-home" id="navbar-icon" aria-hidden="true"></i></a>
            <a href="/shop"><i class="w3-xxxlarge fa fa-shopping-bag" id="navbar-icon"></i></a>
        </div>

        Merci pour votre payement. Votre giveaway va bientôt se lancer.
    </body>
</html>