<head>
    <title>🎉 | Space Giveaways</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link href="/css/main.css" rel="stylesheet"/>
    <meta property="og:title" content="Space Giveaways • LE serveur giveaways !">
    <meta property="og:image" content="https://cdn.discordapp.com/icons/783112936611643393/bf97e066d506f7e349e875de6f5af337.webp">
    <meta property="og:description" content="Space Giveaways - De simple giveaways grâce à notre site automatisé !">
    <meta name="theme-color" content="#5c7aff">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>