<!DOCTYPE html>
<html>
    <head>
        <title>⚙ | Auto'Giveaways</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link href="/css/index.css" rel="stylesheet"/>
        
        <meta itemprop="name" content="Auto'Giveaways">
        <meta itemprop="description" content="Auto'Giveaways - Buy giveaways and get a lot of members on your server.">
	    <meta itemprop="image" content="https://images-ext-1.discordapp.net/external/MnLvxHRUMBP6nRsiRqip35Lz7pDCXqsmlfNbqQQDwYM/https/cdn.discordapp.com/icons/783112936611643393/bf97e066d506f7e349e875de6f5af337.webp">

        <meta name="theme-color" content="#5c7aff">
        <link rel="publisher" href=location>
        <meta name="author" content="Auto'Giveaways">
        <meta itemprop="name" content="Auto'Giveaways">
        <meta itemprop="description"
            content="Auto'Giveaways - Buy giveaways and get a lot of members on your server.">
        <meta itemprop="image"
            content="https://images-ext-1.discordapp.net/external/MnLvxHRUMBP6nRsiRqip35Lz7pDCXqsmlfNbqQQDwYM/https/cdn.discordapp.com/icons/783112936611643393/bf97e066d506f7e349e875de6f5af337.webp">
        <!-- Search Engine -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description"
            content="Auto'Giveaways - Buy giveaways and get a lot of members on your server.">
        <meta name="image"
            content="https://images-ext-1.discordapp.net/external/MnLvxHRUMBP6nRsiRqip35Lz7pDCXqsmlfNbqQQDwYM/https/cdn.discordapp.com/icons/783112936611643393/bf97e066d506f7e349e875de6f5af337.webp">
        <!-- Twitter -->
        <meta name="twitter:card" content="summary">
        <meta name="twitter:title" content="Auto'Giveaways">
        <meta name="twitter:description"
            content="Auto'Giveaways - Buy giveaways and get a lot of members on your server.">
        <!-- google search  -->
        <meta name="theme-color" content="#5c7aff">
        <link rel="publisher" href=location>
        <meta name="author" content="Auto'Giveaways">
        <meta itemprop="name" content="Auto'Giveaways">
        <meta itemprop="description"
            content="Auto'Giveaways - Buy giveaways and get a lot of members on your server.">
        <meta itemprop="image"
            content="https://images-ext-1.discordapp.net/external/MnLvxHRUMBP6nRsiRqip35Lz7pDCXqsmlfNbqQQDwYM/https/cdn.discordapp.com/icons/783112936611643393/bf97e066d506f7e349e875de6f5af337.webp">
        <!-- Open Graph general (Facebook, Pinterest & Google+) -->
        <meta property="og:title" content="Auto'Giveaways">
        <meta property="og:url" content="https://discord-eclipse.xyz" />
        <meta name="og:title" content="Auto'Giveaways">
        <meta name="og:description"
            content="Auto'Giveaways - Buy giveaways and get a lot of members on your server.">
        <meta name="og:image"
            content="https://images-ext-1.discordapp.net/external/MnLvxHRUMBP6nRsiRqip35Lz7pDCXqsmlfNbqQQDwYM/https/cdn.discordapp.com/icons/783112936611643393/bf97e066d506f7e349e875de6f5af337.webp">
        <meta name="og:url" content=location>
        <meta name="og:site_name" content="Auto'Giveaways">
        <meta name="og:type" content="website">
    </head>
    <body>
        <section>
            <div class="container">
                <header>
                    <a href="/" class="logo">Logo</a>
                    <ul>
                        <li><a href="/" class="active">Accueil</a></li>
                        <li><a href="/shop">Formules</a></li>
                        <li><a href="https://discord.gg/VGANSFFZaB">Discord</a></li>
                    </ul>
                </header>
                <div class="content">
                    <h2>Auto'Giveaways</h2>
                    <p><code class="name">Auto'Giveaways</code> est, comme son nom l'indique, un serveur giveaways. Nous cherchons à faire plaisir à nos membres, et pour ceci, nous remercions les <code class="role">@💰・Acheteur</code>. Ces personnes financent des giveaways, et en contre partie, les utilisateurs souhaitant gagner doivent rejoindre leur serveur. Ci-dessous, vous trouverez nos prix pour les giveaways.</p>
                    <a href="https://discord.gg/VGANSFFZaB">Plus d'informations</a>
                </div>
                <div class="imgBx">
                    <img src="/images/character.png">
                </div>
                <ul class="sci">
                    <li><a href="#"><img src="/images/discord.png"></a></li>
                </ul>
                <p class="copyrightText">Copyright © 2021 Auto'Giveaways. All rights reserved.</p>
            </div>
        </section>
    </body>
</html>