<!DOCTYPE html>
<html>
    <head>
        <title>⚙ | Auto'Giveaways</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link href="/css/shop.css" rel="stylesheet"/>
        <link href="/css/loader.css" rel="stylesheet"/>
        
        <meta itemprop="name" content="Auto'Giveaways">
        <meta itemprop="description" content="Auto'Giveaways - Buy giveaways and get a lot of members on your server.">
	    <meta itemprop="image" content="https://images-ext-1.discordapp.net/external/MnLvxHRUMBP6nRsiRqip35Lz7pDCXqsmlfNbqQQDwYM/https/cdn.discordapp.com/icons/783112936611643393/bf97e066d506f7e349e875de6f5af337.webp">

        <meta name="theme-color" content="#5c7aff">
        <link rel="publisher" href=location>
        <meta name="author" content="Auto'Giveaways">
        <meta itemprop="name" content="Auto'Giveaways">
        <meta itemprop="description"
            content="Auto'Giveaways - Buy giveaways and get a lot of members on your server.">
        <meta itemprop="image"
            content="https://images-ext-1.discordapp.net/external/MnLvxHRUMBP6nRsiRqip35Lz7pDCXqsmlfNbqQQDwYM/https/cdn.discordapp.com/icons/783112936611643393/bf97e066d506f7e349e875de6f5af337.webp">
        <!-- Search Engine -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description"
            content="Auto'Giveaways - Buy giveaways and get a lot of members on your server.">
        <meta name="image"
            content="https://images-ext-1.discordapp.net/external/MnLvxHRUMBP6nRsiRqip35Lz7pDCXqsmlfNbqQQDwYM/https/cdn.discordapp.com/icons/783112936611643393/bf97e066d506f7e349e875de6f5af337.webp">
        <!-- Twitter -->
        <meta name="twitter:card" content="summary">
        <meta name="twitter:title" content="Auto'Giveaways">
        <meta name="twitter:description"
            content="Auto'Giveaways - Buy giveaways and get a lot of members on your server.">
        <!-- google search  -->
        <meta name="theme-color" content="#5c7aff">
        <link rel="publisher" href=location>
        <meta name="author" content="Auto'Giveaways">
        <meta itemprop="name" content="Auto'Giveaways">
        <meta itemprop="description"
            content="Auto'Giveaways - Buy giveaways and get a lot of members on your server.">
        <meta itemprop="image"
            content="https://images-ext-1.discordapp.net/external/MnLvxHRUMBP6nRsiRqip35Lz7pDCXqsmlfNbqQQDwYM/https/cdn.discordapp.com/icons/783112936611643393/bf97e066d506f7e349e875de6f5af337.webp">
        <!-- Open Graph general (Facebook, Pinterest & Google+) -->
        <meta property="og:title" content="Auto'Giveaways">
        <meta property="og:url" content="https://discord-eclipse.xyz" />
        <meta name="og:title" content="Auto'Giveaways">
        <meta name="og:description"
            content="Auto'Giveaways - Buy giveaways and get a lot of members on your server.">
        <meta name="og:image"
            content="https://images-ext-1.discordapp.net/external/MnLvxHRUMBP6nRsiRqip35Lz7pDCXqsmlfNbqQQDwYM/https/cdn.discordapp.com/icons/783112936611643393/bf97e066d506f7e349e875de6f5af337.webp">
        <meta name="og:url" content=location>
        <meta name="og:site_name" content="Auto'Giveaways">
        <meta name="og:type" content="website">

        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="/css/w3.css" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class='spinner-wrapper'>
            <span class="back">
                <span>C</span>
                <span>H</span>
                <span>A</span>
                <span>R</span>
                <span>G</span>
                <span>E</span>
                <span>M</span>
                <span>E</span>
                <span>N</span>
                <span>T</span>
            </span>
        </div>
        <div class="maint-content">
            <h1>⚙ | Auto'Giveaways | Boutique</h1>
            <p>Voici la liste de nos différents offres. Pour effectuer un achat, cliquer sur le message "Faire un achat" ci-dessous.</p>

            <section class="main">
                <div class="wrap wrap--1">
                    <div class="container container--1">
                    </div>
                </div>
                <div class="wrap wrap--2">
                    <div class="container container--2">
                    </div>
                </div>
                <div class="wrap wrap--3">
                    <div class="container container--3">
                    </div>
                </div>
                <div class="wrap wrap--4">
                    <div class="container container--4">
                    </div>
                </div>
            </section>
            <a href="/buy" class="button">Faire un achat</a>
            <a href="https://discord.gg/VGANSFFZaB" class="button">Notre discord</a>
        </div>
        <hr id="nine" data-symbol="‡">
        <div class="maint-content">
            <div class="alert alert-danger">
                Cette partie est actuellement en court de développement et n'est pas fonctionnelle.
            </div>
            <h1><a href="https://rocket-host.fr" style="text-decoration: underline;">Rocket-Host.fr</a></h1>
            <p><a href="https://rocket-host.fr" style="text-decoration: underline;">Rocket-Host.fr</a> est un hébergeur français qui vous propose toutes sortes d'hébergements: VPS <i>(Linux, Windows)</i>, NodeJS, et bien plus. Cette partie est faite en partenariat avec leur site. Vous pouvez ci-dessous acheter des giveaways pour faire gagner un hebergement, et en échange les participants devront rejoindre votre serveur.</p>
            <section class="main">
                <div class="wrap wrap--1">
                    <div class="container container--1-rh">
                    </div>
                </div>
                <div class="wrap wrap--2">
                    <div class="container container--2-rh">
                    </div>
                </div>
                <div class="wrap wrap--3">
                    <div class="container container--3-rh">
                    </div>
                </div>
                <div class="wrap wrap--4">
                    <div class="container container--4-rh">
                    </div>
                </div>
                <div class="wrap wrap--5-rh">
                    <div class="container container--5-rh">
                    </div>
                </div>
                <div class="wrap wrap--6-rh">
                    <div class="container container--6-rh">
                    </div>
                </div>
                <div class="wrap wrap--7-rh">
                    <div class="container container--7-rh">
                    </div>
                </div>
                <div class="wrap wrap--8-rh">
                    <div class="container container--8-rh">
                    </div>
                </div>
                <div class="wrap wrap--9-rh">
                    <div class="container container--9-rh">
                    </div>
                </div>
                <div class="wrap wrap--10-rh">
                    <div class="container container--10-rh">
                    </div>
                </div>
                <div class="wrap wrap--11-rh">
                    <div class="container container--11-rh">
                    </div>
                </div>
                <div class="wrap wrap--12-rh">
                    <div class="container container--12-rh">
                    </div>
                </div>
                <div class="wrap wrap--13-rh">
                    <div class="container container--13-rh">
                    </div>
                </div>
            </section>
            <a href="/buy-rh" class="button">Faire un achat</a>
            <a href="https://discord.gg/pyD8QtDMQu" class="button">Discord Rocket-Host</a>
        </div>
    </body>
    <script src="/js/3d.js"></script>
    
    <script>
        let spinnerWrapper = document.querySelector('.spinner-wrapper');
    
        window.addEventListener('load', function () {
            spinnerWrapper.style.display = 'none';
        });
    </script>
</html>